@font-face {
	font-family: 'Proxima Nova';
	src: url(../../assets/fonts/hinted-ProximaNova-Regular.woff2) format('woff2'),
	url(../../assets/fonts/hinted-ProximaNova-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url(../../assets/fonts/hinted-ProximaNova-Extrabld.woff2) format('woff2'),
	url(../../assets/fonts/hinted-ProximaNova-Extrabld.woff) format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url(../../assets/fonts/hinted-ProximaNova-Bold.woff2) format('woff2'),
	url(../../assets/fonts/hinted-ProximaNova-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url(../../assets/fonts/hinted-ProximaNovaT-Thin.woff2) format('woff2'),
	url(../../assets/fonts/hinted-ProximaNovaT-Thin.woff) format('woff');
	font-weight: 100;
	font-style: normal;
}